[submodule "clap"]
	path = clap
	url = https://github.com/free-audio/clap.git
	branch = next
[submodule "clap-wrapper"]
	path = clap-wrapper
	url = https://github.com/holstebroe/clap-wrapper.git
	branch = vst3-midi-out
